.chat-item {
  display: flex;
  flex-direction: row;
  width: auto;
  color: white;
  gap: 14px;
  word-wrap: break-word;

  &--ai {
    justify-content: flex-start; /* Align left for AI */
  }

  &--user {
    justify-content: flex-end; /* Align right for user */
  }

  &__image {
  }

  &__img {
    display: none;
  }

  &__text {
    word-wrap: break-word;
    display: inline-block;

    &--ai {
      font-size: 17.5px;
      font-family: Inter, sans-serif;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 2px;
    }

    &--user {
      padding: 19px 32px;
      max-width: 70%; /* Обмежуємо ширину повідомлення */
      margin-left: 70px;
      font-size: 17.5px;
      font-family: Inter, sans-serif;
      font-weight: 500;
      line-height: 23px;
      background-color: #464c5f;
      border-radius: 16px;
    }
  }
  &__svg {
    stroke: white;
    display: flex;
    margin-left: auto;
  }
  &__path {
    transition: all 0.5s ease;
    fill: transparent;

    &.is_saved {
      fill: white;
    }
  }

  &__text-wrapper {
  }

  & code {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    display: inline-block;
  }
}

@media (min-width: 420px) {
  .chat-item {
    &__img {
      display: block;
    }
  }
}

.dots-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dots-loading span {
  width: 12px;
  height: 12px;
  background-color: #4a90e2; /* Adjust color as needed */
  border-radius: 50%;
  animation: dots-blink 1.5s infinite ease-in-out;
}

.dots-loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.dots-loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes dots-blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}